<?xml version="1.0" encoding="utf-8"?>
<ArrayOfInt xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <runNum>10030</runNum>
  <BatteryConsumptionPowerUsageEmpty>1</BatteryConsumptionPowerUsageEmpty>
  <BatteryConsumptionLightWeight>3</BatteryConsumptionLightWeight>
  <BatteryConsumptionMediumWeight>5</BatteryConsumptionMediumWeight>
  <BatteryConsumptionHeavyWeight>7</BatteryConsumptionHeavyWeight>
  <DroneChargingRatePH>1000</DroneChargingRatePH>
</ArrayOfInt>